@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.signatures-drawer-canvas {
  border-color: #ddd !important;
}




/* Hide the input element */
input[type="file"] {
  display: none;
}
